

<mat-horizontal-stepper >
  <mat-step label="step 1">
    <button class="btn btn-success" matStepperNext>Suivant</button>

    <app-inscription-profil></app-inscription-profil>
  </mat-step>
  <mat-step label="step 2">
    <button class="btn btn-success" matStepperNext>Suivant</button>
<button class="btn btn-info" matStepperPrevious>Retour</button>
  </mat-step>
  <mat-step label="step 3">
    <button class="btn btn-success" matStepperNext>Suivant</button>
    <button class="btn btn-info" matStepperPrevious>Retour</button>
  </mat-step>
  <mat-step label="step 4">
    <button class="btn btn-success" matStepperNext>Suivant</button>
    <button class="btn btn-info" matStepperPrevious>Retour</button>
  </mat-step>
  <mat-step label="step 5">
    <button class="btn btn-info" matStepperPrevious>Retour</button>
  </mat-step>
</mat-horizontal-stepper>


