<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-12">
          <div class="p-4">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Inscription</h1>
            </div>

            <div *ngIf="isSignedUp; else signupForm">
              Your registration is successful. Please login!
              <button [routerLink]="['/login']" class="btn btn-success">
                Login
              </button>
            </div>

            <ng-template #signupForm>
              <div class="user">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">

                      <label for="type_bachelier">type bachelier</label>
                      <select class="form-control form-control-user" name="type_bachelier"
                        (change)="changeTypeBachelier($event)" [(ngModel)]="form.type_bachelier"
                        #type_bachelier="ngModel"
                        required>
                        <option  class="form-control form-control-user" [value]="type_bachelier.id"
                          *ngFor="let type_bachelier of typeBachelier">
                          {{ type_bachelier.lib_fr }}
                        </option>
                      </select>

                      <div *ngIf="f.submitted && type_bachelier.invalid">
                        <div *ngIf="type_bachelier.errors.required">Type is required</div>
                      </div>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0" *ngIf="showChoix">
                      <label for="Nationalité">Nationalité</label>
                      <select class="form-control form-control-user" name="pays_nationalite"
                        [(ngModel)]="form.pays_nationalite" #pays_nationalite="ngModel" required>
                        <option  class="form-control form-control-user" [value]="pays_nationalite.id"
                          *ngFor="let pays_nationalite of nationalite">
                          {{ pays_nationalite.pays_fr }}
                        </option>
                      </select>
                      <div *ngIf="f.submitted && pays_nationalite.invalid">
                        <div *ngIf="pays_nationalite.errors.required">Nationalite is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row" *ngIf="showChoix">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <label for="types_inscription">types inscription</label>
                      <select class="form-control form-control-user" name="types_inscription"
                        [(ngModel)]="form.types_inscription" #types_inscription="ngModel">
                        <option class="form-control form-control-user" [value]="types_inscription.type_fr"
                          *ngFor="let types_inscription of InscriptionChoix">
                          {{ types_inscription.type_fr }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <label for="name">Your name</label>
                      <input type="text" class="form-control form-control-user" name="name" [(ngModel)]="form.name"
                        #name="ngModel" required />
                      <div *ngIf="f.submitted && name.invalid">
                        <div *ngIf="name.errors.required">Name is required</div>
                      </div>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <label for="prenom">Your prenom</label>
                      <input type="text" class="form-control form-control-user" name="prenom" [(ngModel)]="form.prenom"
                        #prenom="ngModel" required />
                      <div *ngIf="f.submitted && prenom.invalid">
                        <div *ngIf="prenom.errors.required">
                          Prenom is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username">Username/Email</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="form.username"
                      #username="ngModel" required />
                    <div *ngIf="f.submitted && username.invalid">
                      <div *ngIf="username.errors.required">
                        Username is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel"
                      required email />
                    <div *ngIf="f.submitted && email.invalid">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">
                        Email must be a valid email address
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password"
                      #password="ngModel" required minlength="6" />
                    <div *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.errors.required">
                        Password is required
                      </div>
                      <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" appConfirmEqualValidator="password"
                      name="ConfirmPassword" [(ngModel)]="form.ConfirmPassword" #ConfirmPassword="ngModel" required
                      minlength="6" />
                    <div *ngIf="f.submitted && ConfirmPassword.invalid">
                      <div *ngIf="ConfirmPassword.errors.required">
                        Password is required
                      </div>
                      <span class="help-block" *ngIf="
                          ConfirmPassword.touched &&
                          ConfirmPassword.errors?.notEqual &&
                          !ConfirmPassword.errors?.required
                        ">
                        Password and Confirm Password does not match
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary">Inscription</button>
                    <a [routerLink]="['/login']" class="btn btn-success">Se connecter</a>

                    <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                      Signup failed!<br />{{ errorMessage }}
                    </div>
                  </div>
                </form>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
